[Desktop Entry]
Type=Action
Name=Set as wallpaper spanned
Icon=user-desktop
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=image/*;
Exec=feh --bg-scale --no-xinerama %f
Name=Default profile
SelectionCount==1
